/* ../../desktop.blocks/page/page.css begin */
.page {
  margin: 0;
  background-image: url("../../img/background.jpg");
  font-family: Tahoma;
}
/* ../../desktop.blocks/page/page.css end */
/* ../../desktop.blocks/page/__content/page__content.css begin */
.page__content {
  width: 61.25em;
  margin: 0 auto;
  padding-top: 3.125em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  background-color: #fff;
}
/* ../../desktop.blocks/page/__content/page__content.css end */
/* ../../desktop.blocks/header/header.css begin */
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #bbb;
  font-family: Tahoma;
  margin-bottom: 1.5em;
}
/* ../../desktop.blocks/header/header.css end */
/* ../../desktop.blocks/header/__logo/header__logo.css begin */
.header__logo {
  height: 1.25em;
}
/* ../../desktop.blocks/header/__logo/header__logo.css end */
/* ../../libs/bem-components/common.blocks/image/image.styl begin */
.image {
  border: 0;
}
/* ../../libs/bem-components/common.blocks/image/image.styl end */
/* ../../desktop.blocks/vip/vip.css begin */
.vip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* ../../desktop.blocks/vip/vip.css end */
/* ../../desktop.blocks/vip/__text/vip__text.css begin */
.vip__text {
  margin-right: 0.375em;
  font-size: 0.6875em;
  font-family: "Trebuchet MS";
  text-transform: uppercase;
}
/* ../../desktop.blocks/vip/__text/vip__text.css end */
/* ../../desktop.blocks/vip/__star/vip__star.css begin */
.vip__star {
  margin-right: 0.125em;
}
/* ../../desktop.blocks/vip/__star/vip__star.css end */
/* ../../desktop.blocks/signtext/signtext.css begin */
.signtext {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: baseline;
  -ms-flex-line-pack: baseline;
  align-content: baseline;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  cursor: pointer;
  font-family: "Trebuchet MS";
  font-weight: bold;
}
.signtext:hover {
  color: #ffa500;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}
/* Если внутри .signtext лежит svg */
.signtext:hover svg {
  fill: #ffa500;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}
/* ../../desktop.blocks/signtext/signtext.css end */
/* ../../desktop.blocks/signtext/__picture/signtext__picture.css begin */
.signtext__picture {
  height: 1.125em;
  margin-right: 0.625em;
}
/* Стили для svg */
.signtext__picture svg {
  height: 1.125em;
  fill: #bbb;
}
/* ../../desktop.blocks/signtext/__picture/signtext__picture.css end */
/* ../../desktop.blocks/firmcard/firmcard.css begin */
.firmcard {
  position: relative;
/*height: 200px;*/
  height: 12.5em;
}
/* ../../desktop.blocks/firmcard/firmcard.css end */
/* ../../desktop.blocks/firmcard/__background/firmcard__background.css begin */
.firmcard__background {
  height: 12.5em;
}
/* ../../desktop.blocks/firmcard/__background/firmcard__background.css end */
/* ../../desktop.blocks/firmcard/__name/firmcard__name.css begin */
.firmcard__name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 2.5em;
  left: 2.375em;
  width: 20.625em;
  height: 7.5em;
}
/* ../../desktop.blocks/firmcard/__name/firmcard__name.css end */
/* ../../desktop.blocks/firmcard/__picture/firmcard__picture.css begin */
.firmcard__picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7.5em;
  height: 7.5em;
  background-color: #fff;
}
.firmcard__picture img {
  margin: auto;
}
/* ../../desktop.blocks/firmcard/__picture/firmcard__picture.css end */
/* ../../desktop.blocks/firmcard/__firmname/firmcard__firmname.css begin */
.firmcard__firmname {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 13.125em;
  height: 7.5em;
  background-color: #fff;
  opacity: 0.8;
}
.firmcard__firmname span {
  font-size: 1.25em;
  font-family: "Verdana";
  margin: auto;
  color: #323232;
}
/* ../../desktop.blocks/firmcard/__firmname/firmcard__firmname.css end */
/* ../../desktop.blocks/firmcard/__phone/firmcard__phone.css begin */
.firmcard__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3em;
  width: 16.25em;
  background-color: #fff;
  opacity: 0.8;
}
.firmcard__phone span {
  font-size: 1.5em;
  font-family: "Trebuchet MS";
  margin: auto;
}
/* ../../desktop.blocks/firmcard/__phone/firmcard__phone.css end */
/* ../../desktop.blocks/submenu/submenu.css begin */
.submenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3.75em;
  background-color: #003952;
  color: #fff;
  font-family: "PragmaticaC";
}
/* ../../desktop.blocks/submenu/submenu.css end */
/* ../../desktop.blocks/submenu/__input/submenu__input.css begin */
.submenu__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: 1.25em;
  width: 12.75em;
  height: 2em;
  background-color: #fff;
  border-radius: 1em;
}
.submenu__input .input__control {
  border: none;
  outline: none;
  font-size: 0.875em;
  margin-left: 1em;
  width: 10em;
}
/* ../../desktop.blocks/submenu/__input/submenu__input.css end */
/* ../../desktop.blocks/submenu/__searchicon/submenu__searchicon.css begin */
.submenu__searchicon {
  width: 1.125em;
  height: 1.125em;
  margin-left: 0.875em;
}
.submenu__searchicon svg {
  width: 1.125em;
  height: 1.125em;
}
/* ../../desktop.blocks/submenu/__searchicon/submenu__searchicon.css end */
/* ../../libs/bem-components/common.blocks/menu/menu.styl begin */
.menu {
  overflow-y: auto;
}
/* ../../libs/bem-components/common.blocks/menu/menu.styl end */
/* ../../desktop.blocks/menu/menu.css begin */
.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
/*align-items: center;*/
  height: 3.75em;
  background-color: #003952;
  color: #fff;
  font-family: "PragmaticaC";
}
/* ../../desktop.blocks/menu/menu.css end */
/* ../../desktop.blocks/menu-item/menu-item.css begin */
.menu-item {
  padding: 1.375em 2.625em;
  font-size: 0.9375em;
}
/* ../../desktop.blocks/menu-item/menu-item.css end */
/* ../../desktop.blocks/menu-item/_checked/menu-item_checked.css begin */
.menu-item_checked {
  color: #000;
  background-color: #fff;
}
/* ../../desktop.blocks/menu-item/_checked/menu-item_checked.css end */
