.firmcard__firmname
{
    display: flex;

    width: 13.125em;
    height: 7.5em;
    background-color: white;
    opacity: .8;
}

.firmcard__firmname span
{
    font-size: 1.25em;
    font-family: "Verdana";
    margin: auto;
    color: #323232;
}
