.submenu__input
{
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: 1.25em;
    width: 12.75em;
    height: 2em;
    background-color: white;
    border-radius: 1em;
}

.submenu__input .input__control
{
    border: none;
    outline: none;
    font-size: .875em;
    margin-left: 1em;
    width: 10em;
}
