.signtext
{
    display: flex;
    align-content: baseline;
    transition: ease .2s;
    cursor: pointer;

    font-family: "Trebuchet MS";
    font-weight: bold;
}

.signtext:hover
{
    color: orange;
    transition: ease .2s;
}

/* Если внутри .signtext лежит svg */
.signtext:hover svg
{
    fill: orange;
    transition: ease .2s;
}
